{% extends 'home/layout.html' %}
{% load static %}

{% block profile %}
    <p class="mt-3 mr-2">Hi, {{user.first_name}} {{user.last_name}}!</p>
    <a class="btn_2 d-none d-lg-block" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block extra_css %}
    <!-- Custom CSS for the loading spinner -->
    <style>
        .loading-spinner {
            display: none;
        }

        .loading-spinner.show {
            display: inline-block;
        }
        .appointment {
            margin: 10%;
            min-height: 60vh;
            font-family: Arial;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container appointment">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Symptom Checker</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <!-- Add loading spinner here -->
                            <div class="spinner-border text-primary loading-spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <!-- Display List of Symptoms -->
                        <div id="symptomsList">
                            <h6 class="card-subtitle mb-2 text-muted">Your Symptoms:</h6>
                            <ul id="selectedSymptoms">
                                {% if symptoms %}
                                    {% for symptom in symptoms %}
                                        <li id="currentSymptoms">{{ symptom }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                        <!-- Input for Additional Symptoms -->
                        <div class="form-group mt-3">
                            <label for="additionalSymptom">Do you have any other symptoms?</label>
                            <div id="checkboxContainer">
                                {% if possible_symptoms %}    
                                    {% for symptom in possible_symptoms %}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input additionalSymptomsList" id="{{ symptom }}" name="symptoms" value="{{ symptom }}">
                                            <label class="form-check-label" for="{{ symptom }}">{{ symptom }}</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- Button to Add Custom Symptom -->
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" onclick="addCustomSymptom()">Add Symptom</button>

                        <!-- Doctor Appointment Section (Hidden by default) -->
                        <div id="doctorAppointmentSection" class="mt-4 d-none">
                            <h6 class="card-subtitle mb-2" id="doctor_name"></h6>
                            <h6 class="card-subtitle mb-2 text-muted">Choose Appointment Time:</h6>
                            <!-- Add options for appointment times from the API response -->
                            <select class="form-control" id="appointmentTime" name="appointmentTime">
                                <!-- Options will be dynamically populated after submitting symptoms -->
                            </select>

                            <!-- Button to Schedule Appointment -->
                            <button type="button" class="btn btn-success mt-3" onclick="scheduleAppointment()">Schedule Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    let doctorId = null;

    function addCustomSymptom() {
        // Get all the values from the additional symptoms that is selected
        let symptoms = "";

        // load symptoms with the current symptoms which are list items
        const currentSymptoms = document.getElementById('selectedSymptoms').getElementsByTagName('li');
        for (const symptom of currentSymptoms)
            symptoms += symptom.textContent + ',';

        const additionalSymptoms = document.getElementsByClassName('additionalSymptomsList');
        for (const symptom of additionalSymptoms)
            if (symptom.isChecked)
                symptoms += symtom.textContent + ',';
        getDoctor(symptoms)
    }

    function scheduleAppointment() {
        fetch('appointment/', {
            method: 'POST',
            body: {
                doctor_id: doctorId,
                appointment_time: document.getElementById('appointmentTime').value
            },
            headers: {
                'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }
        })
        .then(data => {
            // Handle response, e.g., display success message
            console.log('Success:', data);
            window.location.href = '/patient';
        })
        .catch(error => {
            // Handle error, e.g., display error message
            console.error('There was a problem with the fetch operation:', error);
        });
    }

    function getDoctor(symptoms) {
            console.log(symptoms);
            fetch(`/predict/doctor`, {
                method: 'POST',
                body: symptoms,
                headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            })
            .then(data => {
                // Handle response, e.g., populate appointment times
                console.log('Success:', data);
                const appointmentTimes = data.available_times;
                const appointmentTimeSelect = document.getElementById('appointmentTime');

                document.getElementById("doctor_id").innerHTML = data.doctor.user.first_name;
                doctorId = data.doctor.user.sub;

                for (const time of appointmentTimes) {
                    const option = document.createElement('option');
                    option.value = time;
                    option.textContent = time;
                    appointmentTimeSelect.appendChild(option);
                }
            })
            .catch(error => {
                // Handle error, e.g., display error message
                console.error('There was a problem with the fetch operation:', error);
            });
            document.getElementById('doctorAppointmentSection').classList.remove('d-none');
    }
</script>
{% endblock %}
