{% extends 'home/layout.html' %}
{% load static %} 

{% block extra_css %} 
<style>
    .chatbot_landing {
        margin: 10%;
        height: 80vh;
        font-family: Arial;
    }
    #chatbox {
        margin: 20px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 10px;
        min-height: 60vh; /* Set max-height to 80% of viewport height */
        max-height: 60vh;
        overflow-y: auto; /* Allow vertical scrolling if content exceeds max-height */
    }
    #userInput {
        margin: 20px;
    }
    #textInput {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-family: Arial;
        font-size: 16px;
    }
    .userText {
        text-align: right;
        margin-bottom: 5px;
    }
    .userText span {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    .botText {
        text-align: left;
        margin-bottom: 5px;
    }
    .botText span {
        background-color: #28a745;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    .loading-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1000;
    }
    .loading-spinner {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -60px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
{% endblock %} 

{% block profile %}
    {% if session %}
    <p style="padding-right: 5px;">Hi, {{session.userinfo.name}}!</p>
    <a class="btn_2 d-none d-lg-block" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn_2 d-none d-lg-block" href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container chatbot_landing" id="chatbot_landing">
    <h1 class="text-center"><b>CureBot</b></h1>
    <div class="row">
        <div class="col">
            <div id="chatbox" class="border d-flex flex-column">
                <!-- Chat messages will be appended here -->
                <div class="flex-grow-1"></div> <!-- Add this to push content to the top -->
            </div>
        </div>
    </div>
    <div id="userInput" class="input-group text-center">
        <div class="input-group-prepend">
            <button class="btn btn-primary" type="button" onclick="getBotResponse()">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
        <div class="input-group-append" style="width: 94%;">
            <input id="textInput" type="text" class="form-control" name="msg" placeholder="Message" />
        </div>
    </div>
    <div id="loading" class="loading-container">
        <div class="loading-spinner"></div>
    </div>
    {% csrf_token %}
</div>
{% endblock %}

{% block extra_js %}

<script>
    var loadingScreen = document.getElementById("loading");
    const indicatorHtml = `
        <div class="d-flex justify-content-start" id="typingIndicator">
            <span class="text-muted">AI is typing...</span>
        </div>
    `;

    function showLoading() {
        loadingScreen.style.display = "block";
    }

    function hideLoading() {
        loadingScreen.style.display = "none";
    }

    function showIndicator() {
        $("#chatbox").append(indicatorHtml);
        $("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);
    }

    function hideIndicator() {
        $("#typingIndicator").remove();
    }

    function getLocation() {
        showLoading();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            alert("Please enable location services to proceed.");
            window.location.replace('/');
        }
    }

    async function showPosition(position) {
        const lat = await position.coords.latitude;
        const lng = await position.coords.longitude;
        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        fetch('/patient/location', {
            method: 'POST',
            body: JSON.stringify({
                'lat': lat,
                'lng': lng
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            hideLoading();
        })
        .catch(error => {
            hideLoading();
            alert("An error occurred while saving your location. Please try again.");
            window.location.replace('/');
        });
    }

    function showError(error) {
        hideLoading();

        switch (error.code) {
            case error.PERMISSION_DENIED:
                console.log("User denied the request for Geolocation.");
                alert("Please enable location services to proceed.");
                window.location.replace('/');

            case error.POSITION_UNAVAILABLE:
                console.log("Location information is unavailable.");
                alert("Location information is unavailable. Please try again.");
                window.location.replace('/');

            case error.TIMEOUT:
                console.log("The request to get user location timed out.");
                alert("The request to get user location timed out. Please try again.");
                window.location.replace('/');

            case error.UNKNOWN_ERROR:
                console.log("An unknown error occurred.");
                alert("An unknown error occurred. Please try again.");
                window.location.replace('/');
        }
    }

    getLocation();

    function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        $("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);

        // Show typing indicator
        showIndicator();

        fetch("/response?msg=" + encodeURIComponent(rawText))
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            hideIndicator();
            var botHtml = '<p class="botText"><span>' + data.message + "</span></p>";
            $("#chatbox").append(botHtml);
            $("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);

            // Handle special messages if needed
            if (data.message == "Bye! Have a nice day😇") {
                // hide the component userInput
                $("#userInput").hide();
                // wait 3 seconds and reload the page
                setTimeout(function() {
                    window.location.replace('/')
                }, 3000);
            } else if (data.message == "Starting your appointment scheduling process. Please wait for a moment.") {
                // hide the component userInput
                $("#userInput").hide();
                // wait 3 seconds and redirect to the appointment page
                setTimeout(function() {
                    window.location.replace('/appointment')
                }, 3000);
            }
        })
        .catch(function(error) {
            console.error("Error:", error);
        });
    }

    $("#textInput").keypress(function (e) {
        if (e.which == 13) {
            getBotResponse();
        }
    });

    var botHtml = '<p class="botText"><span>Welcome! I am your medical assistant. Feel free to interact with me🙂</span></p>';
    $("#chatbox").append(botHtml);
    hideIndicator();
</script>

{% endblock %}
