<!-- doctor.html -->

{% extends 'home/layout.html' %}
{% load static %}

{% block profile %}
<p class="mt-3 mr-2">Hi, {{user.first_name}} {{user.last_name}}!</p>
{% endblock %}

{% block extra_css %}
    <style>
        .doctor_dashboard {
            margin: 10%;
            height: 80vh;
            font-family: Arial;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container doctor_dashboard">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <img src="{{ session.userinfo.picture }}" alt="profile" class="img-fluid rounded-circle"/>
                                </div>
                                <div class="col-md-4">
                                    <h4 class="mb-3">{{ user.first_name }} {{ user.last_name }}</h4>
                                    <p class="mb-2">{{ user.email }}</p>
                                    <a href="#" class="btn btn-primary edit-profile-btn" data-toggle="modal" data-target="#editUserModal">Edit Profile</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">Previous Patient Interactions</h5>
                                            <p class="card-text display-4">{{ history|length }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit User Modal -->
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editUserForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input type="text" name="username" id="id_username" class="form-control" value="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label for="id_email">Email</label>
                                <input type="email" name="email" id="id_email" class="form-control" value="{{ user.email }}">
                            </div>
                            <div class="form-group">
                                <label for="id_first_name">First Name</label>
                                <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ user.first_name }}">
                            </div>
                            <div class="form-group">
                                <label for="id_last_name">Last Name</label>
                                <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ user.last_name }}">
                            </div>
                            <button type="button" onclick="submitForm()" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4 mt-4">Upcoming Appointments</h2>
                <div class="table-responsive mb-4">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Patient</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Reason</th>
                                <th>Remarks</th>
                                <th>Mark Visited</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if appointments|length >= 1 %} 
                                {% for appointment in appointments %} 
                                    {% if appointment.visited != True %}
                                        <tr>
                                            <td>{{appointment.user.first_name}} {{appointment.user.last_name}}</td>
                                            <td>
                                                {{appointment.appointment_time|date:"Y-m-d"}}
                                            </td>
                                            <td>
                                                {{appointment.appointment_time|time:"g:i A"}}
                                            </td>
                                            <td>{{appointment.reason}}</td>
                                            <form
                                                action="{% url 'mark_visited' %}"
                                                method="POST"
                                            >
                                                {% csrf_token %}
                                                <td>
                                                    <input
                                                        type="text"
                                                        name="remarks"
                                                        class="form-control"
                                                        placeholder="Remarks"
                                                    />
                                                </td>
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        name="appointment_id"
                                                        value="{{appointment.id}}"
                                                    />
                                                    <button
                                                        type="submit"
                                                        class="btn btn-outline-success"
                                                    >
                                                        <i class="fa fa-check text-success"></i>
                                                    </button>
                                                </td>
                                            </form>

                                        </tr>
                                    {% endif %} 
                                {% endfor %} 
                            {% else %}
                                <tr>
                                    <td colspan="6">No upcoming appointments</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <h2 class="mb-4 mt-4">History</h2>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Patient</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Reason</th>
                                <th>Remarks</th>
                                <th>Visited Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if history|length >= 1 %} 
                                {% for appointment in history %}
                                    <tr>
                                        <td>
                                            {{appointment.user.first_name}}
                                            {{appointment.user.last_name}}
                                        </td>
                                        <td>
                                            {{appointment.appointment_time|date:"Y-m-d"}}
                                        </td>
                                        <td>
                                            {{appointment.appointment_time|time:"g:i A"}}
                                        </td>
                                        <td>{{appointment.reason}}</td>
                                        <td>{{appointment.doctor_remarks}}</td>
                                        <td>
                                            {{appointment.visited_time|date:"Y-m-d g:i A"}}
                                        </td>
                                    </tr>
                                {% endfor %} 
                            {% else %}
                                <tr>
                                    <td colspan="6">No history</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function submitForm() {
            var form = document.getElementById('editUserForm');
            var formData = new FormData(form);

            fetch(`/edit_user`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                location.reload()
            })
            .catch(error => {
                // Handle error, e.g., display error message
                console.error('There was a problem with the fetch operation:', error);
            });
        }
    </script>
{% endblock %}
