<!-- doctorreg.html -->

{% extends 'home/layout.html' %}
{% load static %}

{% block profile %}
    <p style="padding-right: 10px;">Hi, {{session.userinfo.name}}!</p>
    <a class="btn_2 d-none d-lg-block" href="{% url 'logout' %}">Logout</a>
{% endblock %}


{% block extra_css %}
    <style>
        .doctor_reg {
            margin: 10%;
            min-height: 80vh;
            font-family: Arial;
        }

        #map {
            width: 100%;
        }

        .loading-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        .loading-spinner {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container doctor_reg">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Doctor Registration</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'doctor_register' %}" method="post">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="text-left">
                            <h4>Doctor Details</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value={{user.first_name}} required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value={{user.email}} required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Qualification" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="specialization" name="specialization" placeholder="Specialization" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="experience" name="experience" placeholder="Experience" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h4>Hospital Details</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="address" name="address" placeholder="Hospital Address" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group
                            mt-3">
                                <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Pincode" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-left">
                                <h4>Location</h4>
                            </div>
                        </div>
                        
                        <!-- add hidden inputs to store latitude and longitude of the user -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="latitude" name="latitude" value="" placeholder="Latitude">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="longitude" name="longitude" value="" placeholder="Longitude">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- add a button that calls getLocation function -->
                            <button class="btn_1" onclick="getLocation(event)">Get Location</button>
                        </div>

                        <div class="card shadow w-100 mt-4" id="map-container">
                            <div class="card-body mt-5">
                                <div class="card-text w-100 h-100">
                                    <iframe id="map" frameborder="0" style="border:0;" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-4 text-center">
                            <div class="form-group
                            mt-3">
                                <button 
                                    type="submit"
                                    class="btn_1"
                                >
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="loading" class="loading-container">
                    <div class="loading-spinner"></div>
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var map = document.getElementById("map-container");
        var loadingScreen = document.getElementById("loading");

        map.style.display = "none";
        loadingScreen.style.display = "none"
    
        function showLoading() {
            loadingScreen.style.display = "block";
            map.style.display = "block";
        }
    
        function hideLoading() {
            loadingScreen.style.display = "none";
        }
    
        function getLocation(e) {
            e.preventDefault();
            showLoading();
    
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                // Use proper element ID
                map.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
    
        function showPosition(position) {
            hideLoading();
    
            const lat = position.coords.latitude;
            const lng = position.coords.longitude;
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
            const loc = lat + "," + lng;
            const link = "https://maps.google.com/maps?q=" + loc + "&hl=es;z=14&amp;&output=embed";
            map.setAttribute("src", link);
            console.log(link);
        }
    
        function showError(error) {
            hideLoading();
    
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    map.innerHTML = "User denied the request for Geolocation.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    map.innerHTML = "Location information is unavailable.";
                    break;
                case error.TIMEOUT:
                    map.innerHTML = "The request to get user location timed out.";
                    break;
                case error.UNKNOWN_ERROR:
                    map.innerHTML = "An unknown error occurred.";
                    break;
            }
        }
    
    </script>
    
{% endblock %}